type project
description
  Add LocalDbContextFeature to your TestFixture (F2F.Testing.Xunit2)

authors Art of Quality GmbH
owners aoq
projectUrl https://github.com/ArtofQuality/F2F.Testing
licenseUrl https://github.com/ArtofQuality/F2F.Testing/blob/master/LICENSE.txt
tags aoq f2f testing xunit2 entity framework ef
