type project
description
  Brings an AutoMockFeature which initializes AutoFixture with FakeItEasy.

authors Art of Quality GmbH
owners aoq
projectUrl https://github.com/ArtofQuality/F2F.Testing
licenseUrl https://github.com/ArtofQuality/F2F.Testing/blob/master/LICENSE.txt
tags aoq f2f testing xunit2 fakeiteasy autofixture
