<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.1" targetFramework="net40" />
  <package id="AutoFixture.AutoMoq" version="3.30.1" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
  <package id="F2F.Sandbox" version="1.1.0.0" targetFramework="net40" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net40" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net40" />
</packages>